.album-info {
  display: flex;
  flex-direction: column;
  gap: $spacing-base * 2;
  margin-bottom: $spacing-base * 4;

  .album-info-row-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: $spacing-base * 2;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    img.album-info-cover {
      margin: 0;
      padding: 0;
      width: 50%;
      max-width: 450px;
      min-width: 300px;
      border-radius: $border-radius / 2;
    }

    ol.album-info-tracklist {
      min-width: 30%;
    }
  }

  .album-info-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: $spacing-base * 4;
    flex-wrap: wrap;

    .button {
      margin: 0;
    }
  }
}
