h1.album-heading {
  margin-top: 0;
  margin-bottom: $spacing-base;
}

.album-header {
  margin-bottom: $spacing-base * 3;
}

.album-metadata {
  line-height: 1em;
  display: flex;
  flex-direction: row;
  gap: $spacing-base / 2;
  align-items: baseline;

  @media (max-width: $breakpoint-phone-portrait) {
    .bullet {
      display: none;
    }
    flex-direction: column;
  }

  a {
    color: currentColor;
    font-weight: normal;

    &:hover {
      color: $color-link-hover;
    }
    &:active {
      color: $color-link-active;
    }
  }
}

.album-press-quotes {
  display: flex;
  flex-direction: column;
  gap: $spacing-base * 3;
}
