audio {
  border-radius: 8px;
  width: 100%;
}
.audioplayer {
  background-color: var(--background-light-2);
  border-radius: 8px;
  box-shadow: var(--elevation-0);
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 16px;
  color: unset;
  font-weight: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: box-shadow var(--animation-duration) ease;
  align-items: center;

  .audioplayer-cover {
    .fallback {
      min-width: 80px;
      min-height: 80px;
      max-width: 80px;
      max-height: 80px;
      background-color: var(--background-light);
      border-radius: 8px;
      margin-right: 16px;
      overflow: hidden;
    }

    img {
      object-fit: cover;
      display: block;
      margin: 0;
      margin-right: 16px;
      padding: 0;
      min-width: 80px;
      min-height: 80px;
      max-width: 80px;
      max-height: 80px;
      border-radius: 8px;
    }
  }

  .audioplayer-title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 12px;
    text-align: left;
  }

  .audioplayer-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}
