html {
  scrollbar-width: thin;
  height: 100%;
}

body {
  background-color: $color-background;
  background-image: url('/img/bg/page.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: cover;

  color: $color-text;
  font-family: $font-family, serif;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  padding: $spacing-base * 2;

  @media (max-width: $breakpoint-phone-portrait) {
    padding: 0;
  }
}

blockquote {
  border-radius: $border-radius;
  background-color: transparentize($color-background, 0.33);
  padding: 16px 16px 4px 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 32px;
  margin-right: 32px;
  border: 1px solid darken($color-background, 0.25);
  border-left: $border-radius solid $color-text;
  box-shadow: $elevation-0;
}

.container {
  margin: auto;
  padding: 0 $spacing-base * 3;
  width: 100%;
}

.noScroll {
  overflow-y: hidden;
}

.content {
  padding-top: $spacing-base * 2;
  padding-bottom: $spacing-base * 4;
  flex-grow: 1;
}

.highlight pre {
  border-radius: $border-radius;
  padding: $spacing-base;
  background: $color-background-code !important;
  -moz-tab-size: 2 !important;
  -o-tab-size: 2 !important;
  tab-size: 2 !important;
  color: $color-text-code !important;
  font-family: $font-family-code !important;
  font-size: $font-size-code;
  margin: $spacing-base * 2;

  @media (max-width: $breakpoint-phone-portrait) {
    margin-left: 0;
    margin-right: 0;
  }
}

.highlight pre code {
  font-family: inherit;
}

//---------------------

.body-content {
  max-width: 1220px;
  min-height: calc(100vh - #{$spacing-base * 4});
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: $border-radius;
  box-shadow: $elevation-2;
  background-color: #1c1815;
  background-image: url('/img/bg/header.png'), url('/img/bg/footer.png'), url('/img/bg/body.png');
  background-repeat: no-repeat, no-repeat, repeat-y;
  background-position: top, bottom, top;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-phone-portrait) {
    width: 100%;
    border-radius: 0;
    min-height: 100vh;
  }

  @media print {
    box-shadow: none;
  }
}

.error-404 {
  text-align: center;
}
