/* code */
@font-face {
  font-family: 'Fira Code';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/FiraCode-Regular-subset.woff2') format('woff2');
}
@font-face {
  font-family: 'Fira Code';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/FiraCode-Bold-subset.woff2') format('woff2');
}

/* body */
@font-face {
  font-family: 'Junicode';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Junicode-RegularCondensed.woff2') format('woff2');
}
@font-face {
  font-family: 'Junicode';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Junicode-ItalicCondensed.woff2') format('woff2');
}
@font-face {
  font-family: 'Junicode';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('../fonts/Junicode-BoldCondensed.woff2') format('woff2');
}
@font-face {
  font-family: 'Junicode';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('../fonts/Junicode-BoldItalicCondensed.woff2') format('woff2');
}

/* headings */
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('../fonts/FuturaStd-CondExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Futura';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('../fonts/FuturaStd-CondExtraBoldObl.woff2') format('woff2');
}
