/* Icons */
.icon {
  height: $icon-height;
  width: $icon-height;
  display: inline-block;
  line-height: 0;

  svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}
a.iconButton {
  display: inline-block;
  line-height: 0;
}
a.iconButton svg {
  fill: var(--primary);
  height: $icon-height;
  transition: $animation-duration ease;
  width: auto;
}
a.iconButton:hover svg,
a.iconButton:focus svg {
  fill: $color-primary-light;
}
a.iconButton:active svg {
  fill: $color-primary-dark;
}
