/* Images */
article img,
article video {
  max-width: 100%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.responsive-img {
  min-width: 200px;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: filter var(--animation-duration) ease;
  font-weight: normal;

  img {
    border-radius: $border-radius / 2;
    width: 100%;
  }

  &.with-legend {
    position: relative;

    .img-legend {
      border-bottom-left-radius: $border-radius / 2;
      border-bottom-right-radius: $border-radius / 2;
      width: 100%;
      padding: #{$spacing-base / 4} #{$spacing-base / 2};
      background-color: rgba($color: #000000, $alpha: 0.4);
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      color: #ffffff;
      text-shadow: 0px 0px 4px black;
      font-size: $font-size-caption;
      line-height: $line-height;

      .img-legend-credit {
        font-size: $font-size-caption-small;
      }

      @media print {
        margin-top: -$spacing-base * 1.5;
        padding: 0 !important;
        position: relative !important;
        text-shadow: none !important;
        font-size: $font-size-caption-small !important;
        line-height: $line-height;
      }
    }
  }
}

.responsive-img:hover img {
  filter: brightness(110%);
}

.small {
  max-width: 25%;
}

.medium {
  max-width: 33%;
}
