.list-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
}

.list-item {
  padding: 10px;

  .list-item-content {
    border-radius: $border-radius;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .list-item-image {
      box-shadow: $elevation-3;
      margin-bottom: 15px;
      border-radius: $border-radius;
    }

    .list-item-title {
      font-weight: normal;
      margin-bottom: 5px;
    }

    .list-item-metadata {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }

    .list-item-type {
      background-color: #543016;
      border-radius: 6px;
      padding: 0px 8px;
      color: #c1a582;
      font-size: 13px;
      box-shadow: $elevation-tag;
    }

    .list-item-date {
      color: $color-text-caption;
      font-weight: normal;
      font-size: $font-size-caption;
    }

    &:hover {
      color: $color-link-hover;
    }
  }

  .list-item-image {
    width: 200px;
  }
}

.bandcamp-player {
  margin-top: 40px;
  margin-bottom: 40px;
}
