.photo-gallery {
  display: flex;
  flex-direction: row;
  gap: $spacing-base;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: $spacing-base * 4;

  a {
    display: block;
    min-width: 300px;
    width: calc(33% - #{$spacing-base * 2});
  }

  img {
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto;
    border-radius: $border-radius / 2;
    box-shadow: $elevation-0;
  }
}
