.platforms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.platform-button {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 5px 20px 10px 20px;
  border-radius: $border-radius;
  border: 1px solid #ffffff;
  box-shadow: $elevation-1;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  gap: 20px;
  align-items: center;
  width: fit-content;
  height: fit-content;

  &.spotify {
    border-color: #2ebd59;
  }
  &.applemusic {
    border-color: #ff4359;
  }
  &.deezer {
    border-color: #ff8e00;
  }
  &.bandcamp {
    border-color: #17a0c4;
  }
  &.youtube {
    border-color: #ff0000;
  }
  .platform-button-icon {
    width: 40px;
    height: 40px;
    display: block;
  }

  .platform-button-logo {
    height: 20px;
    width: auto;
    display: block;
  }

  img {
    margin: 0;
  }

  .texts {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 5px;
    margin: 0;
  }

  &:hover {
    background-color: #000;
  }
  &:active {
    background-color: #1b1b1b;
  }
}
