.press-kit {
  margin-top: $spacing-base * 4;

  .press-kit-row {
    display: flex;
    flex-direction: row;
    column-gap: $spacing-base * 4;
    row-gap: 0;
    justify-content: center;
    flex-wrap: wrap;
  }

  .press-kit-row-item {
    margin: 0;
    padding: 0;

    a {
      margin-top: 0;
    }

    .button-caption {
      margin-bottom: $spacing-base * 2;
    }
  }
}
