.press-quote {
  width: 100%;
  max-width: $breakpoint-phone-portrait;
  display: flex;
  flex-direction: column;
  gap: $spacing-base / 2;
  color: $color-link;
  font-weight: $font-weight;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  .press-quote-note {
    color: $color-text;
  }

  .press-quote-text {
    font-weight: bold;
    font-style: italic;
    color: currentColor;
  }

  .press-quote-metadata {
    line-height: 1em;
    color: $color-text-caption;
    font-size: $font-size-caption;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: $spacing-base / 2;
  }

  &:hover {
    color: $color-link-hover;

    .stars {
      color: $color-link-hover;
    }
  }

  &:active {
    color: $color-link-active;
    .stars {
      color: $color-link-active;
    }
  }

  &:focus-visible {
    outline-offset: $outline-border-width * 4;
  }

  @media (max-width: $breakpoint-phone-portrait) {
    .press-quote-separator {
      display: none;
    }
    .press-quote-metadata {
      flex-direction: column;
    }
  }
}
