table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  max-width: 100%;
  overflow: auto;
  margin-top: $spacing-base * 2;
  margin-bottom: $spacing-base * 2;
  scrollbar-width: thin;

  th {
    font-weight: bold;
    background-color: $color-primary-foreground;
  }

  th,
  td {
    padding: #{$spacing-base / 2} $spacing-base;
    border: 1px solid $color-primary-disabled;
  }

  tr {
    background-color: $color-background;
    border-top: 1px solid $color-primary-disabled;
  }

  // tr:nth-child(2n) {
  //   background-color: transparentize($color-primary-disabled, 0.8);
  // }

  img {
    background-color: transparent;
    max-width: 100%;
  }

  .button {
    margin: $spacing-base / 2;
  }
}
