/* Links */
a {
  color: $color-link;
  text-decoration: none;
  font-weight: 700;
  transition: color $animation-duration ease,
  outline-width #{$animation-duration / 2} ease,
  outline-offset #{$animation-duration / 2} ease;
  border-radius: $border-radius;
  outline-offset: $outline-border-width;

  &:hover,
  &:focus {
    color: $color-link-hover;
  }

  &:active {
    color: $color-primary-dark;
  }
}

p {
  a {
    outline-offset: $outline-border-width;
  }
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-display;
  color: $color-text-title;
  font-weight: $font-weight-title;
  letter-spacing: $letter-spacing-display;
  line-height: 1em;
  text-transform: uppercase;

  code {
    padding: unset;
    background-color: unset;
    font-size: unset;
    font-family: $font-family-code;
  }

  a {
    font-weight: inherit;
    color: inherit;

    &:focus,
    &:hover {
      color: $color-primary-light;
    }

    &:active {
      color: $color-primary-dark;
    }
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  color: $color-primary;

  &:first-of-type {
    margin-top: 0;
  }

  @media print {
    font-size: 32px !important;
    margin-top: 0 !important;
    margin-bottom: 40px !important;
    color: $color-primary-dark !important;
  }
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  color: $color-secondary;

  @media print {
    font-size: 24px !important;
    margin-top: 30px !important;
    margin-bottom: 20px !important;
    color: $color-text-caption !important;
  }
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;

  @media print {
    font-size: 20px !important;
  }
}

h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

strong {
  font-weight: $font-weight-bold;
}

/* Paragraph */
p {
  margin-top: 0;
  margin-bottom: 0.85rem;

  @media print {
    font-size: 20px !important;
    line-height: 24px;
    text-align: justify;
  }

  code {
    font-size: $font-size-code * 1.15;
    background-color: $color-background-code;
    color: $color-text-code;
    border-radius: $border-radius / 2;
    padding: 2px 6px;
  }

  strong {
    color: $color-text-emphase;
  }
}

hr {
  border-top: 2px solid $color-primary;
  width: 33%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
}
