$videoRatio: 16 / 9;
$videoWidthM: 720px;
$videoWidthS: 540px;
$videoWidthXS: 450px;
$videoWidthXXS: 360px;
$videoWidthXXXS: 240px;

.youtube-video {
  display: block;
  position: relative;
  width: $videoWidthM;
  height: $videoWidthM / $videoRatio;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing-base * 2;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  @media (max-width: $breakpoint-tablet-portrait) {
    width: $videoWidthS;
    height: $videoWidthS / $videoRatio;
  }

  @media (max-width: $breakpoint-phone-portrait) {
    width: $videoWidthXS;
    height: $videoWidthXS / $videoRatio;
  }

  @media (max-width: $breakpoint-phone-portrait-medium) {
    width: $videoWidthXXS;
    height: $videoWidthXXS / $videoRatio;
  }

  @media (max-width: 450px) {
    width: $videoWidthXXXS;
    height: $videoWidthXXXS / $videoRatio;
  }
}

.sacem-logo {
  max-width: 200px;
}
