iframe.songkick-widget {
  outline: none !important;
  background: transparent !important;

  &:focus,
  &:focus-visible,
  &:focus:focus-visible {
    outline: none !important;
  }
}

.tour-dates {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: $spacing-base / 4;
  max-width: $breakpoint-phone-portrait;
  margin-left: auto;
  margin-right: auto;

  .tour-dates-item {
    border-radius: $border-radius;
    padding: #{$spacing-base / 4} #{$spacing-base};
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: $spacing-base;
    width: 100%;
    align-items: center;

    .tour-dates-item-date {
      width: 100px;
      min-width: 100px;
    }

    .left-column {
      display: flex;
      flex-direction: row;
      width: 100%;

      @media (max-width: $breakpoint-tablet-portrait) {
        flex-direction: column;
      }

      .tour-dates-item-location {
        flex-grow: 1;
      }

      .tour-dates-item-city {
        flex-grow: 0;
      }
    }

    .past {
      color: $color-text-caption;
    }
  }
}
