/* Colors */
$color-background: #131009; /* Page background */
$color-background-code: rgba(
  $color: #000000,
  $alpha: 0.6,
);

$color-primary: #ffd476;
$color-primary-transparent: transparentize($color-primary, 1);
$color-primary-light: #ffe5ac;
$color-primary-light-2: #ffefcc;
$color-primary-dark: #f0c058;
$color-primary-dark-2: #d8a639;
$color-primary-foreground: #2a1f00;
$color-primary-disabled: #423d33;
$color-primary-disabled-foreground: #575144;

$color-secondary: #75695e;

$color-link: $color-primary;
$color-link-hover: $color-primary-light;
$color-link-active: $color-primary-dark;

$color-text: #f8efe4;
$color-text-emphase: #ffffff;
$color-text-title: #ffffff;
$color-text-caption: #857966;
$color-text-code: #a19786;

$color-text-alternative: #ffffff;

$color-focus: $color-primary-light;
$color-selection: transparentize($color-primary-light, 0.85);

/* Text */
$font-size: 26px;
$line-height: 1.2em;
$font-size-code: 16px;
$font-family: 'Junicode', serif;
$font-weight: 300;
$font-family-code: 'Fira Code', 'Consolas', monospace;
$font-weight-title: bold;
$font-weight-highlight: normal;
$font-weight-bold: bold;
$font-size-caption: 24px;
$font-size-caption-small: 20px;

$font-size-display: 2.5 * $font-size;
$font-family-display: 'Futura', sans-serif;
$line-height-display: 3rem;
$letter-spacing-display: unset;

/* Icons */
$icon-height: 24px;

/* Animations */
$animation-duration: 0.4s;

/* Shadows */
$elevation-tag: 0px 1px 0px 0px rgba(0, 0, 0, 0.5); /* Thin line */
$elevation-0: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); /* Thin shadow */
$elevation-1: 0px 4px 16px 0px rgba(0, 0, 0, 0.25); /* Buttons, cards, articles */
$elevation-2: 0px 4px 16px 0px rgba(0, 0, 0, 0.5); /* Same when hover */
$elevation-3: 0px 4px 16px 0px rgba(0, 0, 0, 0.75); /* Same when active */

/* Tables */
$table-header: #9baec817;
$table-alternate-row: #3b404f20;

/* Dimensions */
$border-radius: 8px;
$spacing-base: 16px;
$outline-border-width: 3px;

/* Media query breakpoints */
$breakpoint-desktop-small: 1280px;
$breakpoint-tablet-landscape: 1080px;
$breakpoint-navbar: 1060px;
$breakpoint-tablet-portrait: 920px;
$breakpoint-phone-portrait: 720px;
$breakpoint-phone-portrait-medium: 540px;
$breakpoint-phone-portrait-small: 280px;

/* Blurs */
$blur-0: none;
$blur-1: blur(4px);
$blur-2: blur(8px);
$blur-3: blur(16px);
