{{ define "main" }}
  <div class="container content container-bg" role="main">
    <article role="main">
      <div class="list-header">
        <h1>{{ .Title }}</h1>
      </div>
      {{ .Content }}
    </article>
    <ul class="music-list-items">
      {{- range .Pages.ByDate.Reverse -}}
        {{- partial "music-list-item" . -}}
      {{- end -}}
    </ul>
  </div>
{{ end }}
