{{ define "main" }}
<div class="container content container-bg" role="main">
  <article role="main">
    <div class="list-header">
      <h1>{{ .Title }}</h1>
    </div>
    {{ .Content }}
  </article>
  <h2>Press Releases</h2>
  <ul class="press-release-list-items">
    {{ range .Pages.ByDate.Reverse }}
    <li class="press-release-list-item">
      <a class="press-release-list-item-content" href="{{ .Permalink }}">
        <div class="press-release-list-item-date">{{- .Date.Format "02/01/2006" -}}</div>
        <div class="press-release-list-item-title">{{- .Title -}}</div>
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
