{{- $url := .Get "url" -}}
{{- $text := .Get "text" -}}
{{- $caption := .Get "caption" -}}
{{- $newTab := .Get "newTab" -}}

{{- if $newTab -}}
<a class="button" href="{{ $url }}" target="_blank" rel="noopener noreferrer">
{{- else -}}
<a class="button" href="{{ $url }}">
{{- end -}}
  {{- $text -}}
</a>
{{- if $caption -}}
  <div class="button-caption">{{- $caption -}}</div>
{{- end -}}
