<div class="press-kit">
  <div class="press-kit-row">
    <div class="press-kit-row-item">
      <a class="button" href="{{ site.Params.pressKitEn }}">🇬🇧 Download Press Kit (En)</a>
      <div class="button-caption">PDF file - Band bio and information.</div>
    </div>
    <div class="press-kit-row-item">
      <a class="button" href="{{ site.Params.pressKitFr }}">🇫🇷 Télécharger le dossier de presse (Fr)</a>
      <div class="button-caption">Fichier PDF - Bio du groupe et informations.</div>
    </div>
  </div>

  <div class="press-kit-row">
    <div class="press-kit-row-item">
      <a class="button" href="{{ site.Params.bioEn }}">🇬🇧 Download Bio (En)</a>
      <div class="button-caption">TXT File - Bio in 800, 500, 300, 150 and 100 characters.</div>
    </div>
    <div class="press-kit-row-item">
      <a class="button" href="{{ site.Params.bioFr }}">🇫🇷 Télécharger la bio (Fr)</a>
      <div class="button-caption">Ficher TXT - Bio en 800, 500, 300, 150 et 100 caractères.</div>
    </div>
  </div>

  <div class="press-kit-row">
    <div class="press-kit-row-item">
      <a class="button" href="{{ site.Params.picturesArchive }}">📷 Download high-res pictures</a>
      <div class="button-caption">ZIP file - Includes logos, album covers and high-res photos.</div>
    </div>
  </div>
</div>
