{{- $tourDates := .Site.Data.tour -}}
{{- $today := now -}}
<ul class="tour-dates">
  {{- range sort $tourDates "date" "desc" -}}
    {{- $date := .date | time.AsTime -}}
    {{- $compare := sub $today.Unix $date.Unix -}}
    {{- $isPast := ge (sub $today.Unix $date.Unix) 86400 -}}
    {{- $isPastCss := cond $isPast "past" "" -}}
    <li class="tour-dates-item">
      <div class="tour-dates-item-date {{ $isPastCss }}">
        {{- $date | time.Format "02/01/2006" -}}
      </div>
      <div class="left-column">
        {{- if $isPast -}}
          <div class="tour-dates-item-location {{ $isPastCss }}" href="{{ .url }}">
            {{- .location -}}
          </div>
        {{- else -}}
          <a class="tour-dates-item-location" href="{{ .url }}" title="Get tickets">
            {{- .location -}}
          </a>
        {{- end -}}
        <div class="tour-dates-item-city {{ $isPastCss }}">{{- .city -}}</div>
      </div>
    </li>
  {{- end -}}
</ul>
