<div class="album-info">
  <div class="album-info-row-1">
    <img alt="{{ .Title }} album cover" class="album-info-cover" src="{{ .Params.cover }}" />
    <ol class="album-info-tracklist">
      {{- if .Params.tracklist -}}
        {{- $tracks := .Params.tracklist -}}
        {{- range $i, $track := $tracks -}}
          <li><a href="{{ $track.url }}">{{- $track.title -}}</a></li>
        {{- end -}}
      {{- else -}}
        {{- $tracks := .Pages -}}
        {{- range $i, $track := sort $tracks "Params.trackNumber" -}}
          <li><a href="{{ $track.RelPermalink }}">{{- $track.Title -}}</a></li>
        {{- end -}}
      {{- end -}}
    </ol>
  </div>

  <div class="album-info-links">
    {{- partial "streaming-platforms" .Params.platforms -}}
    {{- if .Params.orderCD -}}
      {{- partial "button" (dict
        "text"    "Order album on CD"
        "url"     .Params.orderCD
        "newTab"  true
        )
      -}}
    {{- end -}}
  </div>
</div>
