{{- if .newTab -}}
  <a href="{{ .url }}" class="button {{ .class -}}" target="_blank" rel="noopener noreferrer">
    {{- .text -}}
  </a>
{{- else -}}
  <a href="{{ .url }}" class="button {{ .class -}}">
    {{- .text -}}
  </a>
{{- end -}}
