<footer>
  <div class="container">
    <hr />
    <div class="social-networks-icons">
      <a title="Facebook" href="{{ site.Params.Social.facebook }}" class="social-networks-icon" target="_blank" rel="noopener noreferrer">
        {{- partial "icon.html" "facebook" -}}
      </a>
      <a title="Instagram" href="{{ site.Params.Social.instagram }}" class="social-networks-icon" target="_blank" rel="noopener noreferrer">
        {{- partial "icon.html" "instagram" -}}
      </a>
      <a title="Twitter" href="{{ site.Params.Social.twitter }}" class="social-networks-icon" target="_blank" rel="noopener noreferrer">
        {{- partial "icon.html" "twitter" -}}
      </a>
      <a title="Mastodon" href="{{ site.Params.Social.mastodon }}" class="social-networks-icon" target="_blank" rel="mel">
        {{- partial "icon.html" "mastodon" -}}
      </a>
    </div>

    <div class="social-networks-icons">
      <a title="Spotify" href="{{ site.Params.Platforms.spotify }}" class="social-networks-icon" target="_blank" rel="noopener noreferrer">
        {{- partial "icon.html" "spotify" -}}
      </a>
      <a title="Deezer" href="{{ site.Params.Platforms.deezer }}" class="social-networks-icon" target="_blank" rel="noopener noreferrer">
        {{- partial "icon.html" "deezer" -}}
      </a>
      <a title="Apple Music" href="{{ site.Params.Platforms.appleMusic }}" class="social-networks-icon" target="_blank" rel="noopener noreferrer">
        {{- partial "icon.html" "applemusic" -}}
      </a>
      <a title="Soundcloud" href="{{ site.Params.Platforms.soundcloud }}" class="social-networks-icon" target="_blank" rel="noopener noreferrer">
        {{- partial "icon.html" "soundcloud" -}}
      </a>
      <a title="Bandcamp" href="{{ site.Params.Platforms.bandcamp }}" class="social-networks-icon" target="_blank" rel="noopener noreferrer">
        {{- partial "icon.html" "bandcamp" -}}
      </a>
      <a title="YouTube" href="{{ site.Params.Platforms.youtube }}" class="social-networks-icon" target="_blank" rel="noopener noreferrer">
        {{- partial "icon.html" "youtube" -}}
      </a>
      <a title="Shop" href="{{ site.Params.Platforms.shop }}" class="social-networks-icon" target="_blank" rel="noopener noreferrer">
        {{- partial "icon.html" "cart" -}}
      </a>
    </div>

    <div class="footer-quick-links">
      {{- with site.GetPage "/press" -}}<a href="{{ .RelPermalink }}">Press</a>{{- end -}}
      {{- with site.GetPage "/technical" -}}<a href="{{ .RelPermalink }}">Technical Docs</a>{{- end -}}
      {{- with site.GetPage "/legal" -}}<a href="{{ .RelPermalink }}">Legal Terms</a>{{- end -}}
    </div>

    <div class="copyright">&copy;&nbsp;Allflowers & Verveine Records, 2021-{{- now.Format "2006" -}}. All rights reserved.</div>

    {{- with site.GetPage "/verveine-records" -}}
      <a class="label-logo" href="{{ .RelPermalink }}">
        {{- readFile "themes/allflowers/static/img/verveine_records_logo.svg" | safeHTML -}}
      </a>
    {{- end -}}
  </div>
</footer>
