<header>
  <div class="container">
    <nav id="navbar" role="navigation">
      <a title="Home" class="title" href="{{ .Site.Home.Permalink }}">
        <div class="logo">
          {{- $logoResource := resources.Get "img/logo.svg" -}}
          <img alt="Allflowers logo" class="logotype" src="{{ $logoResource.Permalink }}" />
        </div>
      </a>
      {{ $currentPage := . }}
      <ul class="header-menu">
        {{ range .Site.Menus.main.ByWeight }}
          {{- $highlightClass := "" -}}
          {{- if (or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "nav" .)) -}}
            {{- $highlightClass = "current" -}}
          {{- end -}}
          <li><a class="nav-item {{ $highlightClass }}" href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
      <ul class="header-icons">
        <li><a title="Spotify" href="{{ site.Params.Platforms.spotify }}" target="_blank" rel="noopener noreferrer">{{- partial "icon" "spotify" -}}</a></li>
        <li><a title="Bandcamp" href="{{ site.Params.Platforms.bandcamp }}" target="_blank" rel="noopener noreferrer">{{- partial "icon" "bandcamp" -}}</a></li>
        <li><a title="Deezer" href="{{ site.Params.Platforms.deezer }}" target="_blank" rel="noopener noreferrer">{{- partial "icon" "deezer" -}}</a></li>
        <li><a title="Shop" href="{{ site.Params.Platforms.shop }}" target="_blank" rel="noopener noreferrer">{{- partial "icon" "cart" -}}</a></li>
      </ul>

      <!-- Invisible checkbox -->
      <input type="checkbox" class="menu-checkbox" id="menu-checkbox" />
      <!-- Hamburger menu icon -->
      <label for="menu-checkbox" class="menu-show">
        {{- partial "icon" "menu" -}}
      </label>
      <!-- Close menu icon -->
      <label for="menu-checkbox" class="menu-close">
        {{- partial "icon" "close" -}}
      </label>
    </nav>
  </div>
</header>
