<head>
  <meta charset="utf-8" />
  <meta name="pinterest" content="nopin" />
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="HandheldFriendly" content="true" />

  <!-- General information -->
  <link rel="canonical" href="{{- site.BaseURL -}}" />
  <!-- <meta name="theme-color" content="{{- site.Params.color -}}" /> -->
  <title>
    {{- if .IsHome -}}
      {{- site.Title | htmlUnescape -}}
    {{- else -}}
      {{- htmlUnescape .Params.Title -}}&nbsp;—&nbsp;{{- (htmlUnescape site.Title) -}}
    {{- end -}}
  </title>
  <meta name="description" content="{{- site.Params.description -}}" />
  <meta name="color-scheme" content="dark" />

  <!-- CSS -->
  {{- $cssResource := resources.Get "css/main.scss" -}}
  {{- $cssFile := $cssResource | css.Sass -}}
  {{- if hugo.IsServer -}}
    <link rel="stylesheet" type="text/css" href="{{- $cssFile.RelPermalink -}}" />
  {{- else -}}
    {{- $miniCssFile := $cssFile | resources.Minify -}}
    <link rel="stylesheet" type="text/css" href="{{- $miniCssFile.RelPermalink -}}" crossorigin="anonymous" />
  {{- end -}}


  <!-- Favicon for all possible sizes -->
  {{- $faviconResource := resources.Get "img/favicon.png" -}}


  <!-- Common -->
  {{- range $size := (slice "16" "32" "64" "128" "256") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <link rel="icon" type="image/png" sizes="{{ $iconSize }}" href="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}


  <!-- Favicon for Apple devies -->
  {{- range $size := (slice "120" "152" "167" "180") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <link rel="apple-touch-icon" sizes="{{ $iconSize }}" ref="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}


  <!-- Android -->
  {{- range $size := (slice "196") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <link rel="shortcut icon" sizes="{{ $iconSize }}" href="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}


  <!-- Microsoft -->
  <meta name="msapplication-TileColor" content="{{- site.Params.color -}}" />
  {{- range $size := (slice "70" "150") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $iconName := (print "msapplication-square" $size "x" $size "logo") -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <meta name="{{ $iconName }}" content="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}
  {{- range $size := (slice "270") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <meta name="msapplication-TileImage" content="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}
  <meta name="msapplication-config" content="none" />

  <!-- Facebook OpenGraph -->
  {{- $thumbnailResource := resources.GetMatch "img/thumbnail.png" -}}
  {{- $facebookThumbnail := $thumbnailResource.Fit "1200x627 jpeg q90 Lanczos Smart" -}}
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{- site.Title -}}" />
  <meta property="og:description" content="{{- site.Params.description -}}" />
  <meta property="og:url" content="{{- site.BaseURL -}}" />
  <meta property="og:site_name" content="{{- site.Title -}}" />
  <meta property="og:image" content="{{- $facebookThumbnail.Permalink -}}" />
  <meta property="og:image:width" content="{{- $facebookThumbnail.Width -}}" />
  <meta property="og:image:height" content="{{- $facebookThumbnail.Height -}}" />
  <meta property="og:image:type" content="image/jpeg" />

  <!-- Twitter -->
  {{- $twitterThumbnail := $thumbnailResource.Fit "1200x600 jpg q95 Lanczos Smart" -}}
  <meta name="twitter:title" content="{{- site.Title -}}" />
  <meta name="twitter:description" content="{{- site.Params.description -}}" />
  {{ with site.Params.Social.twitter -}}
    <meta name="twitter:site" content="@AllflowersMusic" />
    <meta name="twitter:creator" content="@AllflowersMusic" />
  {{ end -}}
  <meta property="twitter:image" content="{{- $twitterThumbnail.Permalink -}}" />

  <!-- JS -->
  {{- $jsNavBar := resources.Get "js/navbar.js" -}}
  {{- if hugo.IsServer -}}
    <script src="{{- $jsNavBar.RelPermalink -}}" defer></script>
  {{- else -}}
    <!-- Bundle everything in only one file -->
    {{- $allJsFiles := slice
      $jsNavBar
    -}}
    {{- $jsResource := $allJsFiles | resources.Concat "js/main.js" | js.Build -}}
    {{- $jsFile := $jsResource | resources.Minify -}}
    {{ $secureJsResource := $jsFile | resources.Fingerprint "sha512" }}
    <script src="{{- $secureJsResource.RelPermalink -}}" integrity="{{ $secureJsResource.Data.Integrity }}" defer></script>
  {{- end -}}
</head>
