{{- $platform := .platform | safeHTML -}}
{{- $url := .url | safeHTML -}}
{{- $label := .label | safeHTML -}}

{{- $iconResource := resources.Get (print "img/" $platform "-icon.svg") -}}
{{- $logoResource := resources.Get (print "img/" $platform "-logo.svg") -}}


<a href="{{ $url }}" class="platform-button {{ $platform }}">
  <img alt="{{ $platform }} icon" class="platform-button-icon" src="{{ $iconResource.Permalink }}" />
  <div class="texts">
    <div class="listen-on">{{ $label }}</div>
    <img alt="{{ $platform }} logotype" class="platform-button-logo" src="{{ $logoResource.Permalink }}" />
  </div>
</a>
