<a class="press-quote" href="{{ .url }}" target="_blank" rel="noopener noreferrer">
  <div class="press-quote-note">
    {{- partial "stars" .note -}}
  </div>
  <div class="press-quote-text">&ldquo;{{- .text -}}&rdquo;</div>
  <div class="press-quote-metadata">
    <div class="press-quote-author">{{- .author -}}</div>
    <div class="press-quote-separator">&mdash;</div>
    <div class="press-quote-date">
      {{- .date  | time.Format ":date_long" -}}
    </div>
  </div>
</a>
