<div class="streaming-platforms">
  {{- range . -}}
    {{- template "streaming-platform-button" (dict
      "icon" (lower .name)
      "url" .url
      )
    -}}
  {{- end -}}
</div>

{{- define "streaming-platform-button" -}}

  {{- $platformNames := dict
    "spotify"     "Spotify"
    "applemusic"  "Apple Music"
    "deezer"      "Deezer"
    "bandcamp"    "Bandcamp"
    "youtube"     "YouTube"
    "soundcloud"  "Soundcloud"
  -}}
  {{- $tooltip := index $platformNames .icon -}}
  <a title="Listen on {{ $tooltip }}" class="streaming-platform-button" href="{{ .url }}" target="_blank" rel="noopener noreferrer">
    {{- partial "icon" .icon -}}
  </a>
{{- end -}}
