{{- define "main" -}}
  <div class="container content container-bg" role="main">
    <article role="main">
      <div class="list-header">
        <h1>{{ .Title }}</h1>
      </div>
      {{ .Content }}
    </article>

    {{- range .Sections.ByWeight -}}
      <h2>{{- .Title -}}</h2>
      <ul class="music-list-items">
        {{- range .Pages.ByDate.Reverse -}}
          {{- partial "music-list-item" . -}}
        {{- end -}}
      </ul>
    {{- end -}}
  </div>
{{- end -}}
