{{ define "main" }}

  <div class="container content">
    <article role="main">
      <div class="article-header">
        <div class="article-header-foreground">
          <h1>{{ .Title }}</h1>
          <div class="single-metadata">
            {{- if .Params.ReleaseDate -}}
              <div class="single-metadata-data">{{- .Date.Format "02/01/2006" -}}</div>
            {{- end -}}
            {{- with .Params.Type -}}
              <div class="single-metadata-type">{{- . -}}</div>
            {{- end -}}
          </div>
        </div>
      </div>
      {{ .Content }}
    </article>
  </div>
{{ end }}
